Q1. List any five functions of the pandas library with execution.

pd.read_csv() - This function is used to read a CSV file and create a DataFrame. For example, if you have a file named "data.csv" in the same directory as your Python script, you can read it into a DataFrame with the following code:

In [2]:
import pandas as pd

df = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv')

df.head() - This function is used to display the first few rows of a DataFrame. By default, it displays the first 5 rows, but you can specify a different number by passing an argument. For example, to display the first 10 rows of a DataFrame, you can use the following code:

In [3]:
df.head(10)

                                                                     Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC  DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4  7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1  7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5  7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3  6.9  0   1.7  0              not fire
05  06    2012 27          77  16  0     64.8 3    14.2 1.2 3.9  0.5            not fire
06  06    2012 31          67  14  0     82.6 5.8  22.2 3.1 7    2.5                fire
07  06    2012 33          54  13  0     88.2 9.9  30.5 6.4 10.9 7.2                fire
08  06    2012 30          73  15  0     86.6 12.1 38.3 5.6 13.5 7.1                fire
09  06    2012 25          88  13  0.2   52.9 7.9  38.8 0.4 10.5 0.3            not fire

df.describe() - This function is used to generate descriptive statistics for a DataFrame. It computes various summary statistics, such as mean, median, standard deviation, and quartiles, for each numerical column in the DataFrame. For example, to generate descriptive statistics for a DataFrame named "df", you can use the following code:

In [4]:
df.describe()

       Bejaia Region Dataset
count                     245
unique                      9
top                   fire
freq                      131

df.to_csv() - This function is used to write a DataFrame to a CSV file. For example, to write a DataFrame named "df" to a file named "output.csv", you can use the following code:

In [7]:
df.to_csv('Algerian_forest_fires', index=False)

pivot_table(): This function is used to create a pivot table from a DataFrame.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [65]:
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

df = pd.DataFrame(data)

In [66]:
def reindex_dataframe(df):
    df.index = pd.RangeIndex(start=1, stop=2*len(df)+1, step=2)
    return df

In [67]:
df = reindex_dataframe(df)

In [68]:
df

   A   B   C
1  1   6  11
3  2   7  12
5  3   8  13
7  4   9  14
9  5  10  15

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [22]:
import pandas as pd

def sum_first_three(df):
    # Initialize a variable to store the sum
    sum_first_three = 0
    
    # Iterate over the first three rows of the DataFrame
    for i in range(3):
        # Add the value in the 'Values' column to the sum
        sum_first_three += df.loc[i, 'Values']
    
    # Print the sum to the console
    print(f"The sum of the first three values in the 'Values' column is: {sum_first_three}")

In [28]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Values': [25, 30, 35, 40]}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      name  Values
0    Alice      25
1      Bob      30
2  Charlie      35
3    David      40

In [29]:
sum_first_three(df)

The sum of the first three values in the 'Values' column is: 90

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [40]:
import pandas as pd

def add_word_count_column(df):
    # Split the text column into individual words and count them
    word_counts = df['Text'].str.split().apply(len)
    
    # Add the word counts to the DataFrame as a new column
    df['Word_Count'] = word_counts
    
    # Return the modified DataFrame
    return df

In [41]:
df = pd.DataFrame({'Text': ['This is a sentence.', 'Another sentence here.']})

df = add_word_count_column(df)

print(df)

                     Text  Word_Count
0     This is a sentence.           4
1  Another sentence here.           3

Q5. How are DataFrame.size() and DataFrame.shape() different?



DataFrame.size() and DataFrame.shape() are both methods in Pandas that provide information about the size and shape of a DataFrame, but they are used for different purposes.

DataFrame.size() returns the total number of elements in the DataFrame, which is the product of the number of rows and the number of columns. In other words, it returns the total number of cells in the DataFrame, regardless of whether they contain data or not.

DataFrame.shape() returns a tuple of two integers that represent the dimensions of the DataFrame: the number of rows and the number of columns, respectively. In other words, it returns the size of the DataFrame as a tuple in the format (number of rows, number of columns).

Here's an example to illustrate the difference between DataFrame.size() and DataFrame.shape()

In [42]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

print(df.size)    # Output: 9 (3 rows x 3 columns = 9 elements)
print(df.shape)   # Output: (3, 3) (3 rows, 3 columns)

9
(3, 3)

Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in Pandas, we use the read_excel() function. This function is part of the Pandas library and can read Excel files in the .xlsx format.

Here's an example of how to use the read_excel() function to read an Excel file into a Pandas DataFrame:

import pandas as pd

Read Excel file into a Pandas DataFrame
df = pd.read_excel('file.xlsx')

 Display the first 5 rows of the DataFrame
print(df.head())

In this example, we first import the Pandas library using the import statement. Then, we use the read_excel() function to read the Excel file 'file.xlsx' into a Pandas DataFrame df. Finally, we use the head() method to display the first 5 rows of the DataFrame.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [44]:
import pandas as pd

def extract_username(df):
    # Use the split() function to split the email address into username and domain
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

In [45]:
# Create a sample DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.harris@example.com']})

# Extract the usernames from the email addresses
df = extract_username(df)

# Display the updated DataFrame
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2  bob.harris@example.com  bob.harris

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [46]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [47]:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [50]:
import pandas as pd

def calc_stats(df):
    # calculate mean, median, and standard deviation of 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()

    # print results
    print(f"Mean: {mean}")
    print(f"Median: {median}")
    print(f"Standard Deviation: {std}")

In [49]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calc_stats(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [53]:
import pandas as pd

def add_moving_average(df):
    # Convert the 'Date' column to a datetime type
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Set the 'Date' column as the DataFrame index
    df = df.set_index('Date')
    
    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    # Reset the index to make 'Date' a column again
    df = df.reset_index()
    
    return df

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [54]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

In [55]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df = add_weekday_column(df)
print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [72]:
import pandas as pd

# create a DataFrame with a 'Date' column containing timestamps
df = pd.DataFrame({
    'Date': pd.date_range('2023-01-01', '2023-02-28', freq='D'),
    'Value': range(1, 60)
})

# define a function to select rows between two dates
def select_rows_between_dates(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

# call the function to select rows between '2023-01-01' and '2023-01-31'
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')
df_selected = select_rows_between_dates(df, start_date, end_date)

# print the selected rows
print(df_selected)

         Date  Value
0  2023-01-01      1
1  2023-01-02      2
2  2023-01-03      3
3  2023-01-04      4
4  2023-01-05      5
5  2023-01-06      6
6  2023-01-07      7
7  2023-01-08      8
8  2023-01-09      9
9  2023-01-10     10
10 2023-01-11     11
11 2023-01-12     12
12 2023-01-13     13
13 2023-01-14     14
14 2023-01-15     15
15 2023-01-16     16
16 2023-01-17     17
17 2023-01-18     18
18 2023-01-19     19
19 2023-01-20     20
20 2023-01-21     21
21 2023-01-22     22
22 2023-01-23     23
23 2023-01-24     24
24 2023-01-25     25
25 2023-01-26     26
26 2023-01-27     27
27 2023-01-28     28
28 2023-01-29     29
29 2023-01-30     30
30 2023-01-31     31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is pandas itself. Pandas is a Python library that provides data structures and tools for data analysis.

You can import Pandas using the following statement:

In [73]:
import pandas as pd

This will import Pandas and give it the alias pd. The alias pd is commonly used in the Pandas community and is recommended for consistency. Once you have imported Pandas, you can start using its functions and data structures, such as Series and DataFrame, to manipulate and analyze data.