Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).


The Main Differences:-

1. Type – 
SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

2. Language – 
SQL databases defines and manipulates data based structured query language (SQL).

A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store.


3.Structure – 
SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores.


4.Support – 
Great support is available for all SQL database from their vendors. some NoSQL database you still have to rely on community support.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax.

TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain.


The CREATE DATABASE command is used is to create a new SQL database.
example - CREATE DATABASE testDB;


SQL DROP TABLE commands are used to delete the specified table from the database. Example: Remove the Student table from the database.


The ALTER TABLE statement is used to add, delete, or modify columns in an existing table. The ALTER TABLE statement is also used to add and drop various constraints on an existing table.

ALTER TABLE table_name 
ADD column_name1 data_type,
    column_name2 data_type,

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.


The INSERT INTO statement is used to insert new records in a table.

 Example - INSERT INTO table_name VALUES (val1, val2, val3…). An example is: INSERT INTO Employee VALUES (1, John, 23);

An SQL UPDATE statement changes the data of one or more records in a table. Either all the rows can be updated, or a subset may be chosen using a condition.

Example - Set the value of column C1 in table T to 1, only in those rows where the value of column C2 is "a".

UPDATE T
   SET C1 = 1
 WHERE C2 = 'a'

Delete command is a data manipulation command which is used to remove records from a table. All records may be removed in one go, or a set of records may be deleted based on a condition.


example-Delete from employee where name=’sneha’

Q4. What is DQL? Explain SELECT with an example.

The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.
DQL statements are used for performing queries on the data within schema objects.



Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins.

 The simplest example of a select statement where in a user wants to, retrieve all the records of a table, can be performed by using '*'.

Q5. Explain Primary Key and Foreign Key.

A primary key is the column or columns that contain values that uniquely identify each row in a table. A database table must have a primary key for Optim to insert, update, restore, or delete data from a database table.
For example, in the table below, CustomerNo, which displays the ID number assigned to different customers, is the primary key.


In simpler words, a foreign key is a set of attributes that references a candidate key. For example, a table called TEAM may have an attribute, MEMBER_NAME, which is a foreign key referencing a candidate key, PERSON_NAME, in the PERSON table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

1.❮ Previous Next ❯


2.demo_mysql_test.py: import mysql. connector. Run example »

3.demo_mysql_connection.py: import mysql. connector. mydb = mysql. connector. connect( host="localhost", user="yourusername", password="yourpassword" ) print(mydb) Run example »


Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables.


execute( conn , sqlquery ) executes an SQL query that contains a non- SELECT SQL statement by using the relational database connection.

Q7. Give the order of execution of SQL clauses in an SQL query.