Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

# create the series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

# create a list with 10 elements
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# convert the list to a Pandas Series
my_series = pd.Series(my_list)

# print the series
print(my_series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:


Name            Age            Gender


Alice           25             Female


Bob             30             Male


Claire          27             Female


Then, print the DataFrame.

In [4]:
import pandas as pd

# create a dictionary with the data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that is designed to handle tabular data in a way that is similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type and a unique label, and each row represents an observation or a record.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold any data type, including scalar values, lists, and dictionaries. It has a single index that represents the labels of the elements.

Here's an example that illustrates the difference between a Pandas DataFrame and a Series:

In [5]:
import pandas as pd

# create a dictionary with some data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from one of the columns of the DataFrame
age_series = df['Age']

# print the DataFrame and the Series
print('DataFrame:')
print(df)
print()
print('Age Series:')
print(age_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Age Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?


There are many functions available in Pandas to manipulate data in a DataFrame. Some common functions are:

head() and tail(): These functions can be used to display the first few or last few rows of a DataFrame, respectively. They are useful for quickly inspecting the data in a DataFrame.

describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values for each column. It is useful for getting a quick overview of the data.

drop(): This function can be used to remove rows or columns from a DataFrame based on their labels or positions. It is useful for cleaning up the data or removing unwanted information.

fillna(): This function can be used to fill missing values in a DataFrame with a specified value or method, such as the mean or median of the column. It is useful for handling missing data.

groupby(): This function can be used to group the data in a DataFrame based on one or more columns, and then apply a function to each group. It is useful for analyzing the data by different categories.

sort_values(): This function can be used to sort the rows of a DataFrame based on the values in one or more columns. It is useful for sorting the data in a meaningful way.

merge(): This function can be used to combine two or more DataFrames into a single DataFrame based on a common column or index. It is useful for joining data from multiple sources.

Here's an example of using fillna() function to replace missing values in a DataFrame:

In [6]:
import pandas as pd

# create a dictionary with some data including missing values
data = {'Name': ['Alice', 'Bob', 'Claire', 'David'],
        'Age': [25, 30, pd.np.nan, 35],
        'Gender': ['Female', 'Male', pd.np.nan, 'Male']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# fill missing values in the 'Age' column with the mean of the column
df['Age'] = df['Age'].fillna(df['Age'].mean())

# print the updated DataFrame
print(df)

     Name   Age  Gender
0   Alice  25.0  Female
1     Bob  30.0    Male
2  Claire  30.0     NaN
3   David  35.0    Male

/tmp/ipykernel_77/392714254.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  'Age': [25, 30, pd.np.nan, 35],
/tmp/ipykernel_77/392714254.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  'Gender': ['Female', 'Male', pd.np.nan, 'Male']}

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable in nature, meaning that their values can be modified after creation. Panel, on the other hand, is an immutable data structure in Pandas, meaning that its values cannot be modified after creation. Instead, operations on a Panel typically return a new Panel object with the updated values.

Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, we can pass a dictionary where each key represents the name of a column and each value represents a Series with the data for that column.

Here's an example:

In [8]:
import pandas as pd

# create a dictionary with three Series
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])
data = {'Name': name, 'Age': age, 'Gender': gender}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female